<div class="d-flex flex-column">
    <h2 class="text-center">Registrate</h2>

    <form class="example-form">
        <mat-form-field class="example-full-width d-flex align-items-center">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width d-flex align-items-center">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
        </mat-form-field>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary">Entrar</button>
        </div>

    </form>
</div>